extends ../layout

block content
    a(href='/estados') Volver

    br
    br
    br

    h1 Nuevo Estado

    br
    br

    form(action='/estados/create' method='post')
        label(for='nomEstado') Nombre del Estado:
        input#nomEstado(type='text' name='nomEstado')
        br
        label(for='descripcion') Descripción:
        input#descripcion(type='text' name='descripcion')
        br              
        br
        input#btn(type='submit' value='ok')