extends ../layout

block content
    a(href='/') Volver a la página principal
    br
    br
    a(href='/estados/create') Nuevo Estado

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') Descripción            
                th(scope='col') 
                th(scope='col') 
        tbody
            each estadito in estaditos
                tr
                    td(scope='row')
                        =estadito.code
                    td= estadito.nomEstado
                    td= estadito.descripcion              
                    td
                        a(href= 'estados/' + estadito.id +"/update" class="btn btn-primary") Editar
                    td
                        form.inline(method='post' action='estados/' + estadito.id + '/delete')
                            input(type='hidden' name='id' value= estadito.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                ='Eliminar'
    br
    a(href='/logout') Cerrar sesión