extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') 
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#arboles') Árboles
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Usuarios
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') Mapas
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#signup') Contacto
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Árboles
        h2.text-white-50.mx-auto.mt-2.mb-5 El cuidado de los arboles a cargo de los ciudadanos.
        a.btn.btn-primary.js-scroll-trigger(href='#arboles') Comenzar
  // Arboles
  section#arboles.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Árboles
          p.text-white-50
            | Para acceder a las bases de datos de árboles, selecciona el siguiente enlace. 
            br 
            a(href='/arboles') Enlace acceso a base de datos de árboles
            br
            a(href='/especies') Enlace acceso a base de datos de especies
            br
            a(href='/emplazamientos') Enlace acceso a base de datos de emplazamientos
            br
            a(href='/estados') Enlace acceso a base de datos de estados
            br
            |                             . Para tener acceso es necesario ingresar a la aplicación con un usuario.
      img.img-fluid(src='/images/img/arbol.jpg' alt='')
  // Usuarios
  section#about.about-section.text-center
    .container
      .row
        .col-lg-8.mx-auto
          h2.text-white.mb-4 Registro de usuarios
          p.text-white-50
            | Para crear tu usuario, ingresá al siguiente enlace: 
            a(href='/usuarios') Enlace para crear tu usuario.
            |                             . Puedes crear tu usuario para ingresar a la base de datos de árboles.
      img.img-fluid(src='/images/img/ipad.png' alt='')
  // Projects
  section#projects.projects-section.bg-light
    .container
      #main_map      
  // Signup
  section#signup.signup-section
    .container
      .row
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Contacto
          form.form-inline.d-flex

  // Contact
  section.contact-section.bg-black
    .container
      .row
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Ubicación
              hr.my-4
              .small.text-black-50 Bogotá, Colombia
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4
              .small.text-black-50
                a(href='#!') andres.romero.otalora@gmail.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Phone
              hr.my-4
              .small.text-black-50 +57 (316) 569-8558
      .social.d-flex.justify-content-center
        a.mx-2(href='https://www.linkedin.com/')
          i.fab.fa-linkedin 
        a.mx-2(href='https://bitbucket.org/edgar_andres_romero_otalora/arboles/src/master/')
          i.fab.fa-bitbucket
        a.mx-2(href='https://coursera.org/')
          i.fas.fa-award
  // Footer
  footer.footer.bg-black.small.text-center.text-white-50
    .container Copyright &copy; Your Website 2020

  // Bootstrap core JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')
