extends ../layout

block content
    a(href='/especies') Volver

    br
    br
    br

    h1 Nueva Especie

    br
    br

    form(action='/especies/create' method='post')
        label(for='nomEspecie') Nombre de la especie:
        input#nomEspecie(type='text' name='nomEspecie', )
        br
        label(for='nomCientifico') Nombre cientifico:
        input#nomCientifico(type='text' name='nomCientifico')
        br
        label(for='familiaEspecie') Familia de especie:
        input#familiaEspecie(type='text' name='familiaEspecie')
        br
        label(for='alturaMaxEspecie:') Altura Máxima aproximada:
        input#alturaMaxEspecie(type='text' name='alturaMaxEspecie' placeholder="Número en metros")
                                
        br
        label(for='diametroDAP:') Diametro al pecho aproximado:
        input#diametroDAP(type='text' name='diametroDAP' placeholder="Número en metros")
        br        
        label(for='formaCopa') Forma de la copa:
        select(name='formaCopa' type= 'text')
            option(disabled='') Selecciona una opción
            option(value='Cónica Ancha') Cónica Ancha
            option(value='Columnar Ancha') Columnar Ancha
            option(value='Esférica') Esférica
            option(value='Fatigada') Fatigada
            option(value='Péndula') Péndula
            option(value='Redondeada') Redondeada
        br
        label(for='formaFruto:') Descripción forma del fruto:
        input#formaFruto(type='text' name='formaFruto' placeholder="ej: ovalado, redondo, triangular...")
        br   
        label(for='colorFruto:') Color del fruto:
        input#colorFruto(type='text' name='colorFruto')
        br   
        label(for='colorCortezaExt:') Color de la corteza externa:
        input#colorCortezaExt(type='text' name='colorCortezaExt' placeholder="Del tronco")
        br   
        label(for='colorCortezaInt:') Color de la corteza interna:
        input#colorCortezaInt(type='text' name='colorCortezaInt' placeholder="Del tronco")
        br   
        label(for='caracTronco:') Caracteristicas del tronco:
        input#caracTronco(type='text' name='caracTronco' placeholder="Puntudo, liso, Grasoso...")
        br   
        label(for='colorHoja:') Color de la hoja:
        input#colorHoja(type='text' name='colorHoja')
        br   
        label(for='tamAproxHoja:') Tamaño normal de la hoja:
        input#tamAproxHoja(type='text' name='tamAproxHoja' placeholder="en centimetros")
        br   
        label(for='formaHoja:') Forma de la hoja:
        input#formaHoja(type='text' name='formaHoja' placeholder="en puntas, ovalada, triangular...")
        br                   
        br
        input#btn(type='submit' value='ok')