extends ../layout

block content
    a(href='/') Volver a la página principal
    br
    br
    a(href='/especies/create') Nueva Especie

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') N. cientifico
                th(scope='col') Familia 
                th(scope='col') Altura
                th(scope='col') Diametro
                th(scope='col') Copa             
                th(scope='col') 
                th(scope='col') 
        tbody
            each especiecita in especiecitas
                tr
                    td(scope='row')
                        =especiecita.code
                    td= especiecita.nomEspecie
                    td= especiecita.nomCientifico   
                    td= especiecita.familiaEspecie    
                    td= especiecita.alturaMaxEspecie
                    td= especiecita.diametroDAP
                    td= especiecita.formaCopa               
                    td
                        a(href= 'especies/' + especiecita.id +"/update" class="btn btn-primary") Editar
                    td
                        form.inline(method='post' action='especies/' + especiecita.id + '/delete')
                            input(type='hidden' name='id' value= especiecita.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                                ='Eliminar'
    br
    a(href='/logout') Cerrar sesión