extends ../layout

block content
    a(href='/emplazamientos') Volver

    br
    br
    br

    h1 Actualizando emplazamiento

    br
    br

    form(action=`/emplazamientos/${emplazamientico.id}/update` method='post')
        label(for='nomEmplazamiento') Nombre del emplazamiento:
        input#nomEmplazamiento(type='text' name='nomEmplazamiento' value=emplazamientico.nomEmplazamiento)
        br
        br
        input#btn(type='submit' value='ok')