extends ../layout

block content
    a(href='/arboles') Volver

    br
    br
    br

    h1 Nuevo arbol

    br
    br

    form(action='/arboles/create' method='post')
        label(for='especie') Especie:
        input#especie(type='text' name='especie' placeholder="id de la especie (listado)")
        a(href='/arboles/listaEspecie' target="_blank") Listado de especies
        br
        label(for='alcaldia') Alcaldia
        select(name='alcaldia' type= 'text')
            option(disabled='') Selecciona una opción
            option(value='Álvaro Obregón') Álvaro Obregón
            option(value='Azcapotzalco') Azcapotzalco
            option(value='Benito Juárez') Benito Juárez
            option(value='Coyoacán') Coyoacán
            option(value='Redes matrices servicios públicos') Redes matrices servicios publicos
            option(value='Cuajimalpa de Morelos') Cuajimalpa de Morelos
            option(value='Cuauhtémoc') Cuauhtémoc
            option(value='Iztacalco') Iztacalco
            option(value='Iztapalapa') Iztapalapa
            option(value='Magdalena Contreras') Magdalena Contreras
            option(value='Miguel Hidalgo') Miguel Hidalgo
            option(value='Milpa Alta') Milpa Alta
            option(value='Tláhuac') Tláhuac
            option(value='Tlalpan') Tlalpan
            option(value='Venustiano Carranza') Venustiano Carranza
            option(value='Xochimilco') Xochimilco            
        br
        label(for='direccion') Dirección:
        input#direccion(type='text' name='direccion')
        br
        label(for='latitud') Latitud:
        input#latitud(type='text' name='latitud' placeholder="Verificar en google maps")
        br
        label(for='longitud') Longitud:
        input#longitud(type='text' name='longitud' placeholder="Verificar en google maps")
        br
        label(for='emplazamiento') Emplazamiento:
        input#emplazamiento(type='text' name='emplazamiento' placeholder="id emplazamiento(listado)")
        a(href='/arboles/listaEmplazamiento' target="_blank") Listado de emplazamiento  
        br
        label(for='estado') Estado:
        input#estado(type='text' name='estado' placeholder="id de estado (listado)")
        a(href='/arboles/listaestado' target="_blank") Listado de estados  
        br
        label(for='aAltura') Altura aproximada:
        input#aAltura(type='text' name='aAltura' placeholder="ingresar en metros") 
        br
        label(for='aDiametro') Diametro al cuello aproximado:
        input#aDiametro(type='text' name='aDiametro' placeholder="ingresar en metros")
        br
        input#btn(type='submit' value='ok')