extends ../layout

block content
    
    br
    br

    table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Nombre
                th(scope='col') N. cientifico
                th(scope='col') Familia 
                th(scope='col') Altura
        tbody
            each especiecita in especiecitas
                tr
                    td(scope='row')
                        =especiecita.id
                    td= especiecita.nomEspecie
                    td= especiecita.nomCientifico   
                    td= especiecita.familiaEspecie    
                    td= especiecita.alturaMaxEspecie               
                    
    br
    